html{font-size: 20px;}
body{font-family: "Arial", "Meiryo", sans-serif;}
h1{font-family: "Josefin Sans",sans-serif;
    text-align:center;
    font-size: 2rem;
    text-shadow: 2px 2px 5px grey;
    letter-spacing: 1.2em;
    border-bottom:solid 3px rgb(115, 115, 114)
    }
.blue{color:skyblue;}
.pink{color:rgb(255, 192, 203)}
h2{text-align:center;}
h2.pink{color:rgb(255, 192, 203)}
h2.blue{color:skyblue;}
p{text-align:center;}
#basic > p{font-weight: bold;}