select{font-size: 20px;}
body{
    font-family: "Arial", "Meiryo", sans-serif;}
h1{font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align:center;
    text-size-adjust: 2em;
    text-shadow: 2px 2px 5px grey;
    letter-spacing: 1.2em;
    border-bottom:solid 3px rgb(115, 115, 114)
    }
span.blue{color:rgb(135, 206, 235)}
span.pink{color:rgb(255, 192, 203)}
div{id=basic}
h2{text-align:center;}
h2.pink{color:rgb(255, 192, 203)}
h2.blue{color:rgb(135, 206, 235)}
p{text-align:center;}
p.text1{font-weight:bold;}