
h1{
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 0;
}
h2::before{
    content: "●";
    color: rgb(239, 111, 139);
    border-bottom: 3px dotted rgb(236, 122, 122);
    }
P{
    margin: 0;
    font-size: 20px;
}
body{
    margin: 0;
}
a{
    font-size: 20px;
}
header{
    display: flex;
    justify-content: center;
    padding: under 20px;
    background-color:  rgb(244, 79, 79);
}
main{
    padding: 10px;
}
.parent{
    display: flex;
    justify-content: space-between;
}
#contents{
    justify-content: center;
    border: 3px solid rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0px;
}
#contents p:nth-of-type(2)::first-letter {
    font-weight: bold;
    color:rgb(97, 206, 249);
}
#contents img{
    margin: 10px 0px;
    width: 70%;
}
footer{}