
h1{
    color: rgb(255, 255, 255);
    margin: 0;
}
h2::before{
    content: "●";
    color: rgb(239, 111, 139);
    }
h2{
    font-size: 30px;
    border-bottom: 3px dotted rgb(236, 122, 122);}
P{
    margin: 0;
    font-size: 25px;
}
body{
    margin: 0;
}
a{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
a:visited{
    color: rgb(193, 234, 251);
}
a:hover{
    color: rgb(245, 178, 168);
}
header{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color:  rgb(244, 79, 79);
}
main{
    padding: 10px;
}
#parent{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
}
@media screen and (max-width: 768px){
    #parent{
    display: flex;
    flex-direction: column;
    }
}
.contents{
    text-align: center;
    border: 3px solid rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0px;
}
.contents p:nth-of-type(2)::first-letter {
    font-weight: bold;
    color:rgb(97, 206, 249);
}
.contents img{
    margin: 10px 0px;
    width: 70%;
}
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(244, 79, 79);
}
