#top{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: #dcc9f4;
}
.top-child{
    display: inline;
    width: 20%;
    background-color: #ffd9df;
}